latest/files/flows.json
[
  {
    "id": "1da45964.d15647",
    "type": "tab",
    "label": "SDOS Examples"
  },
  {
    "id": "a25dd55e.8f1368",
    "type": "postgresdb",
    "z": "",
    "hostname": "172.18.0.44",
    "port": "5432",
    "db": "mcm_metadata_mcmdemo",
    "ssl": false
  },
  {
    "id": "13d7ccb3.f1d703",
    "type": "function",
    "z": "1da45964.d15647",
    "name": "Obj sizes in 100KB buckets",
    "func": "container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT ROUND(MD_content_length::integer/102400, 0)::integer as \"100KBs\",' +\n    'count(MD_content_length)::integer as \"number of objects\" ' +\n    'FROM filter_SwiftInternal ' +\n    filter_string +\n    'GROUP BY ROUND(MD_content_length::integer/102400, 0) ' +\n    'ORDER BY ROUND(MD_content_length::integer/102400, 0);';\nreturn msg; ",
    "outputs": 1,
    "noerr": 0,
    "x": 411,
    "y": 281.6390380859375,
    "wires": [
      [
        "e69fa40f.2292f8"
      ]
    ]
  },
  {
    "id": "cc312790.1274c",
    "type": "http in",
    "z": "1da45964.d15647",
    "name": "Obj sizes in 100KB buckets",
    "url": "/count-by-100kB_buckets",
    "method": "get",
    "swaggerDoc": "",
    "x": 161.10418701171875,
    "y": 263.6390380859375,
    "wires": [
      [
        "13d7ccb3.f1d703"
      ]
    ]
  },
  {
    "id": "1148bcd.20fa043",
    "type": "function",
    "z": "1da45964.d15647",
    "name": "total size and count by content type",
    "func": "container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT MD_content_type, ' +\n    '(sum(MD_content_length::float)/1048576) AS \"total MBs\", ' +\n    'count(MD_content_type) AS \"number of objs\"  ' +\n    'FROM filter_SwiftInternal ' +\n    filter_string +\n    'GROUP BY MD_content_type;';\nreturn msg; ",
    "outputs": 1,
    "noerr": 0,
    "x": 454.10418701171875,
    "y": 131.638916015625,
    "wires": [
      [
        "e69fa40f.2292f8"
      ]
    ]
  },
  {
    "id": "78cb71e2.232ca8",
    "type": "inject",
    "z": "1da45964.d15647",
    "name": "Test",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 190.10418701171875,
    "y": 136.638916015625,
    "wires": [
      [
        "1148bcd.20fa043"
      ]
    ]
  },
  {
    "id": "a6077e11.ea1b8",
    "type": "http in",
    "z": "1da45964.d15647",
    "name": "total size and count by content type",
    "url": "/size_count-by-type",
    "method": "get",
    "swaggerDoc": "",
    "x": 145,
    "y": 96.638916015625,
    "wires": [
      [
        "1148bcd.20fa043"
      ]
    ]
  },
  {
    "id": "e69fa40f.2292f8",
    "type": "postgres",
    "z": "1da45964.d15647",
    "postgresdb": "a25dd55e.8f1368",
    "name": "postgres",
    "output": true,
    "outputs": 1,
    "x": 671,
    "y": 247,
    "wires": [
      [
        "fa213bc5.eb67b8",
        "5bc22256.17ab8c"
      ]
    ]
  },
  {
    "id": "fa213bc5.eb67b8",
    "type": "debug",
    "z": "1da45964.d15647",
    "name": "",
    "active": true,
    "console": "false",
    "complete": "false",
    "x": 813,
    "y": 212,
    "wires": []
  },
  {
    "id": "5bc22256.17ab8c",
    "type": "http response",
    "z": "1da45964.d15647",
    "name": "",
    "x": 782,
    "y": 285,
    "wires": []
  },
  {
    "id": "34ef0797.1de098",
    "type": "function",
    "z": "1da45964.d15647",
    "name": "Extraction & Modified Dates",
    "func": "container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload=\"select MD_name, MD_extractionDate, MD_last_modified from filter_SwiftInternal LIMIT 1000;\"\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 432,
    "y": 214,
    "wires": [
      [
        "e69fa40f.2292f8"
      ]
    ]
  },
  {
    "id": "19321884.4ab1a7",
    "type": "function",
    "z": "1da45964.d15647",
    "name": "Obj sizes in 1MB buckets",
    "func": "container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT ROUND(MD_content_length::integer/1048576, 0)::integer as \"1MBs\",' +\n    'count(MD_content_length)::integer as \"number of objects\" ' +\n    'FROM filter_SwiftInternal ' +\n    filter_string +\n    'GROUP BY ROUND(MD_content_length::integer/1048576, 0) ' +\n    'ORDER BY ROUND(MD_content_length::integer/1048576, 0);';\nreturn msg; ",
    "outputs": 1,
    "noerr": 0,
    "x": 423,
    "y": 357,
    "wires": [
      [
        "e69fa40f.2292f8"
      ]
    ]
  },
  {
    "id": "b0735822.944e08",
    "type": "http in",
    "z": "1da45964.d15647",
    "name": "Obj sizes in 1MB buckets",
    "url": "/count-by-1mb_buckets",
    "method": "get",
    "swaggerDoc": "",
    "x": 174,
    "y": 375,
    "wires": [
      [
        "19321884.4ab1a7"
      ]
    ]
  },
  {
    "id": "c95577ae.3f31f8",
    "type": "inject",
    "z": "1da45964.d15647",
    "name": "Test",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 215,
    "y": 300,
    "wires": [
      [
        "13d7ccb3.f1d703"
      ]
    ]
  },
  {
    "id": "fa1ba7c2.ab6918",
    "type": "inject",
    "z": "1da45964.d15647",
    "name": "Test",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 224,
    "y": 433,
    "wires": [
      [
        "19321884.4ab1a7"
      ]
    ]
  },
  {
    "id": "1d6a9123.02458f",
    "type": "inject",
    "z": "1da45964.d15647",
    "name": "Test",
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "repeat": "",
    "crontab": "",
    "once": false,
    "x": 217,
    "y": 204,
    "wires": [
      [
        "34ef0797.1de098"
      ]
    ]
  }
]