latest/files/flows.json
[{"id":"1da45964.d15647","type":"tab","label":"SDOS Examples"},{"id":"a25dd55e.8f1368","type":"postgresdb","z":"","hostname":"postgres","port":"5432","db":"mcm_metadata_mcmdemo","ssl":false},{"id":"13d7ccb3.f1d703","type":"function","z":"1da45964.d15647","name":"Obj sizes in 100KB buckets","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT ROUND(MD_content_length::integer/102400, 0)::integer as \"100KBs\",' +\n    'count(MD_content_length)::integer as \"number of objects\" ' +\n    'FROM filter_SwiftInternal ' +\n    filter_string +\n    'GROUP BY ROUND(MD_content_length::integer/102400, 0) ' +\n    'ORDER BY ROUND(MD_content_length::integer/102400, 0);';\nreturn msg; ","outputs":1,"noerr":0,"x":411,"y":281.6390380859375,"wires":[["e69fa40f.2292f8"]]},{"id":"cc312790.1274c","type":"http in","z":"1da45964.d15647","name":"Obj sizes in 100KB buckets","url":"/count-by-100kB_buckets","method":"get","swaggerDoc":"","x":161.10418701171875,"y":263.6390380859375,"wires":[["13d7ccb3.f1d703"]]},{"id":"1148bcd.20fa043","type":"function","z":"1da45964.d15647","name":"total size and count by content type","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT MD_content_type, ' +\n    '(sum(MD_content_length::float)/1048576) AS \"total MBs\", ' +\n    'count(MD_content_type) AS \"number of objs\"  ' +\n    'FROM filter_SwiftInternal ' +\n    filter_string +\n    'GROUP BY MD_content_type ' +\n    'ORDER BY count(MD_content_type) DESC;';\nreturn msg; ","outputs":1,"noerr":0,"x":454.10418701171875,"y":131.638916015625,"wires":[["e69fa40f.2292f8"]]},{"id":"78cb71e2.232ca8","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.10418701171875,"y":136.638916015625,"wires":[["1148bcd.20fa043"]]},{"id":"a6077e11.ea1b8","type":"http in","z":"1da45964.d15647","name":"total size and count by content type","url":"/size_count-by-type","method":"get","swaggerDoc":"","x":145,"y":96.638916015625,"wires":[["1148bcd.20fa043"]]},{"id":"e69fa40f.2292f8","type":"postgres","z":"1da45964.d15647","postgresdb":"a25dd55e.8f1368","name":"postgres","output":true,"outputs":1,"x":671,"y":247,"wires":[["fa213bc5.eb67b8","5bc22256.17ab8c"]]},{"id":"fa213bc5.eb67b8","type":"debug","z":"1da45964.d15647","name":"","active":true,"console":"false","complete":"true","x":823,"y":207,"wires":[]},{"id":"5bc22256.17ab8c","type":"http response","z":"1da45964.d15647","name":"","x":867,"y":258,"wires":[]},{"id":"34ef0797.1de098","type":"function","z":"1da45964.d15647","name":"Extraction & Modified Dates","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload=\"select MD_name, MD_extractionDate, MD_last_modified from filter_SwiftInternal LIMIT 1000;\"\nreturn msg;","outputs":1,"noerr":0,"x":432,"y":214,"wires":[[]]},{"id":"19321884.4ab1a7","type":"function","z":"1da45964.d15647","name":"Obj sizes in 1MB buckets","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT ROUND(MD_content_length::integer/1048576, 0)::integer as \"1MBs\",' +\n    'count(MD_content_length)::integer as \"number of objects\" ' +\n    'FROM filter_SwiftInternal ' +\n    filter_string +\n    'GROUP BY ROUND(MD_content_length::integer/1048576, 0) ' +\n    'ORDER BY ROUND(MD_content_length::integer/1048576, 0);';\nreturn msg; ","outputs":1,"noerr":0,"x":423,"y":357,"wires":[["e69fa40f.2292f8"]]},{"id":"b0735822.944e08","type":"http in","z":"1da45964.d15647","name":"Obj sizes in 1MB buckets","url":"/count-by-1mb_buckets","method":"get","swaggerDoc":"","x":174,"y":375,"wires":[["19321884.4ab1a7"]]},{"id":"c95577ae.3f31f8","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":215,"y":300,"wires":[["13d7ccb3.f1d703"]]},{"id":"fa1ba7c2.ab6918","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":224,"y":433,"wires":[["19321884.4ab1a7"]]},{"id":"1d6a9123.02458f","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":217,"y":204,"wires":[["34ef0797.1de098"]]},{"id":"4d03460d.e0649","type":"function","z":"1da45964.d15647","name":"total size and count by jpg resolution","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"AND si.md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT jpeg.md_image_size AS \"jpeg resolution\", ' +\n    '(sum(si.MD_content_length::float)/1048576) AS \"total MBs\", ' +\n    '(avg(si.MD_content_length::float)/1048576) AS \"avg size in MBs\", ' +\n    'count(si.MD_content_type) AS \"number of jpegs\"  ' +\n    'FROM filter_SwiftInternal AS si, ' +\n    'filter_jpeg AS jpeg ' +\n    'WHERE si.md_containername=jpeg.md_containername ' +\n    'AND si.md_name=jpeg.md_name ' +\n    filter_string +\n    'GROUP BY jpeg.md_image_size ' +\n    'ORDER BY count(si.MD_content_type) DESC;';\nreturn msg; ","outputs":1,"noerr":0,"x":454.10418701171875,"y":545,"wires":[["e69fa40f.2292f8"]]},{"id":"69903fc7.cea5c","type":"http in","z":"1da45964.d15647","name":"total size and count by jpg resolution","url":"/size_count-by-jpeg_res","method":"get","swaggerDoc":"","x":155,"y":510,"wires":[["4d03460d.e0649"]]},{"id":"46f40885.d92c","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.10418701171875,"y":550,"wires":[["4d03460d.e0649"]]},{"id":"9d0932ec.78c4b8","type":"function","z":"1da45964.d15647","name":"total size and count by jpg model","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"AND si.md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT jpeg.md_image_model AS \"camera model\", ' +\n    '(sum(si.MD_content_length::float)/1048576) AS \"total MBs\", ' +\n    'count(si.MD_content_type) AS \"number of jpegs\"  ' +\n    'FROM filter_SwiftInternal AS si, ' +\n    'filter_jpeg AS jpeg ' +\n    'WHERE si.md_containername=jpeg.md_containername ' +\n    'AND si.md_name=jpeg.md_name ' +\n    filter_string +\n    'GROUP BY jpeg.md_image_model ' +\n    'ORDER BY count(si.MD_content_type) DESC;';\nreturn msg; ","outputs":1,"noerr":0,"x":444.10418701171875,"y":647,"wires":[["e69fa40f.2292f8"]]},{"id":"bc934724.47f0f8","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.10418701171875,"y":652,"wires":[["9d0932ec.78c4b8"]]},{"id":"3331a4b6.dd0cd4","type":"http in","z":"1da45964.d15647","name":"total size and count by jpg model","url":"/size_count-by-jpeg_model","method":"get","swaggerDoc":"","x":135,"y":612,"wires":[["9d0932ec.78c4b8"]]},{"id":"7fa658b1.8e1808","type":"http in","z":"1da45964.d15647","name":"total size and count by content type","url":"/default","method":"get","swaggerDoc":"","x":158,"y":38,"wires":[["1148bcd.20fa043"]]},{"id":"fd9dd6ef.087f68","type":"function","z":"1da45964.d15647","name":"error","func":"msg.payload = msg.error;\n\nreturn msg;","outputs":1,"noerr":0,"x":777,"y":352,"wires":[["5bc22256.17ab8c"]]},{"id":"51506bf1.c7aab4","type":"catch","z":"1da45964.d15647","name":"","scope":null,"x":730,"y":474,"wires":[["fb53736d.ef973","fd9dd6ef.087f68"]]},{"id":"fb53736d.ef973","type":"debug","z":"1da45964.d15647","name":"","active":true,"console":"false","complete":"true","x":939,"y":443,"wires":[]},{"id":"37a1318d.887fce","type":"function","z":"1da45964.d15647","name":"container stats","func":"container_filter = msg.req ? msg.req.query[\"container_filter\"] : \"\";\nfilter_string = container_filter ? \"WHERE md_containername='\" + container_filter + \"' \" : \"\";\n\nmsg.payload='SELECT md_containername AS \"container\", ' +\n    '(md_container_bytes_used::float/1048576) AS \"total MBs\", ' +\n    'md_container_object_count AS \"number of objects\"  ' +\n    'FROM filter_containerinfo ' +\n    filter_string +\n    'ORDER BY md_container_object_count::int DESC;';\nreturn msg; ","outputs":1,"noerr":0,"x":384.10418701171875,"y":802,"wires":[["e69fa40f.2292f8"]]},{"id":"e85ac5d3.222858","type":"inject","z":"1da45964.d15647","name":"Test","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":190.10418701171875,"y":807,"wires":[["37a1318d.887fce"]]},{"id":"e8c93732.54bd98","type":"http in","z":"1da45964.d15647","name":"container stats","url":"/container_stats","method":"get","swaggerDoc":"","x":85,"y":767,"wires":[["37a1318d.887fce"]]}]
